# Laravel & PHP-specific
/.phpunit.cache
/vendor
/.composer
/.phpunit.result.cache
/phpunit.xml
/phpunit.xml.dist
/.phpactor.json
/.php-cs-fixer.cache
/.phpstan
/.phpstorm.meta.php
/storage/logs
/storage/framework
/bootstrap/cache

# Node.js & Frontend
/node_modules
/npm-debug.log
/yarn-error.log
/pnpm-debug.log
/public/hot
/public/build

# IDE & Editor-specific
/.idea
/.vscode
/.fleet
/.nova
/.zed

# Environment & Secrets
.env
.env.*
/auth.json
Homestead.json
Homestead.yaml

# Misc
/.DS_Store
/.git
/.svn
/.hg
/.bzr
