@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Inter', sans-serif;
}

@layer components {
    .flatpickr-wrapper {
        @apply !inline w-100;
    }

    .custom-calendar .fc-h-event {
        background-color: transparent;
        border: none;
        color: black;
    }

    .fc-dayGridMonth-view.fc-view.fc-daygrid {
        @apply min-w-[718px];
    }

    .fc-theme-standard th {
        @apply border-x-0! border-t border-gray-200! bg-gray-50 text-left!;
    }

    .fc-theme-standard td,
    .fc-theme-standard .fc-scrollgrid {
        @apply border-gray-200!;
    }

    .fc .fc-col-header-cell-cushion {
        @apply px-5! py-4! text-sm font-medium text-gray-400 uppercase;
    }

    .fc .fc-daygrid-day.fc-day-today {
        @apply bg-transparent;
    }

    .fc .fc-daygrid-day {
        @apply p-2;
    }

    .fc .fc-daygrid-day.fc-day-today .fc-scrollgrid-sync-inner {
        @apply rounded-sm bg-gray-100;
    }

    .fc .fc-daygrid-day-number {
        @apply p-3! text-sm font-medium text-gray-700;
    }

    .fc .fc-daygrid-day-top {
        @apply flex-row!;
    }

    .fc .fc-day-other .fc-daygrid-day-top {
        opacity: 1;
    }

    .fc .fc-day-other .fc-daygrid-day-top .fc-daygrid-day-number {
        @apply text-gray-400;
    }

    .event-fc-color {
        @apply rounded-lg py-2.5 pr-3 pl-4;
    }

    .event-fc-color .fc-event-title {
        @apply p-0 text-sm font-normal text-gray-700;
    }

    .fc-daygrid-event-dot {
        @apply mx-3 ml-0 h-5 w-1 rounded-sm border-none;
    }

    .fc-event {
        @apply focus:shadow-none;
    }

    .fc-daygrid-event.fc-event-start {
        @apply ml-3!;
    }

    .event-fc-color.fc-bg-success {
        @apply border-green-50 bg-green-50;
    }

    .event-fc-color.fc-bg-danger {
        @apply border-red-50 bg-red-50;
    }

    .event-fc-color.fc-bg-primary {
        @apply border-blue-50 bg-blue-50;
    }

    .event-fc-color.fc-bg-warning {
        @apply border-orange-50 bg-orange-50;
    }

    .event-fc-color.fc-bg-success .fc-daygrid-event-dot {
        @apply bg-green-500;
    }

    .event-fc-color.fc-bg-danger .fc-daygrid-event-dot {
        @apply bg-red-500;
    }

    .event-fc-color.fc-bg-primary .fc-daygrid-event-dot {
        @apply bg-blue-500;
    }

    .event-fc-color.fc-bg-warning .fc-daygrid-event-dot {
        @apply bg-orange-500;
    }

    .fc-direction-ltr .fc-timegrid-slot-label-frame {
        @apply px-3 py-1.5 text-left text-sm font-medium text-gray-500;
    }

    .fc .fc-timegrid-axis-cushion {
        @apply text-sm font-medium text-gray-500;
    }

    .fc .fc-daygrid-day-events {
        @apply me-2.5;
    }

    .dropzone .dz-message {
        @apply !hidden;
    }

    .rdt_TableHeadRow {
        @apply text-base font-bold;
    }
}
